
.font16
  font-size : 0.16rem
.font24
  font-size : 0.24rem
.font28
  font-size : 0.28rem
.font32
  font-size : 0.32rem



  .animate .top {
    -webkit-transform: translateY(0.17rem) rotateZ(45deg);
    -moz-transform: translateY(0.17rem) rotateZ(45deg);
    -ms-transform: translateY(0.17rem) rotateZ(45deg);
    -o-transform: translateY(0.17rem) rotateZ(45deg);
    transform: translateY(0.17rem) rotateZ(45deg);
  }

.animate .bottom {
  -webkit-transform: translateY(-0.15rem) rotateZ(-45deg);
  -moz-transform: translateY(-0.15rem) rotateZ(-45deg);
  -ms-transform: translateY(-0.15rem) rotateZ(-45deg);
  -o-transform: translateY(-0.15rem) rotateZ(-45deg);
  transform: translateY(-0.15rem) rotateZ(-45deg);
}

.animate .middle {
  width: 0;
}
.icon-bar {  display: block;  margin: 0.11rem 0;  width: 0.5rem;
  height: 0.06rem; background-color: #FFFFFF;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
  z-index: 999999;
}
