
@import "../css/common.styl";
.show_wrap
  left 0!important
.wrap
  position fixed
  top 0
  left 100vw
  width 84vw
  height 100vh
  background:url("../assets/blue_full_bg.jpg") no-repeat center
  background-size:cover
  padding:2% 8% 0
  transition all 0.5s ease
  z-index 99999
  .service
    margin-top 1.6rem
    color #fff
    font-size 0.36rem
    margin-bottom 0.32rem
  .kinds
    display flex
    flex-wrap nowrap
    justify-content space-between
    .go_link
      border-radius 0.12rem
      display flex
      flex-direction column
      align-items center
      justify-content center
      height 1.6rem
      width 1.6rem
      color #fff
      background rgba(255, 255, 255, 0.4)
      img
        width 1.2rem
        z-index 99
        margin-bottom 0.1rem
  .connect
    display inline-block
    padding 0.16rem 0.3rem
    background rgba(255, 255, 255, 0.4)
    color #fff
    font-size 0.26rem
    border-radius 0.12rem
    margin 0.16rem 0  0.16rem 0.3rem
  .footer
    width 100%
    position absolute
    bottom 0.3rem
    left 0
    text-align center
    p
      color #fff;
      font-size 0.24rem
      text-align center
      margin 0.1rem
